---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/notable';
import '@fontsource-variable/hepta-slab';
let imgScale = 1;
---

<Layout title="Antenna Roots">
	<!doctype html>
	<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Tekijät & Kiitokset" />
    <title>Image Gallery</title>
  </head>
  <body>
    <div class="main-content">
		<h1 id="title" class="font-extralight">Tekijät / Artists</h1>
		<section>
				<div class="essaybox">
					<br>
					<p>
						<b>Asta Leppä, "Ebba"</b>
					</p>
					<p>
					on esseisti, journalisti ja valokuvataiteilija, Valokuvakeskus Peri ry:n jäsen. Hän yhdistelee taiteellisessa työssään esseistiikkaa, omakohtaisuutta ja filosofisia käsitteitä kuvalliseen ajatteluun. 
					</p>
                    <br>
                    <p>
                        is an essayist, journalist, and photographic artist, and a member of Valokuvakeskus Peri (Peri Centre for Photography). In her artistic practice, she combines essayistic writing, personal experience, and philosophical concepts with visual thinking.
                    </p>
					<br>
                    <br>
					<p>
						<b>Juho Vihervuori</b>
					</p>
					<p>
						on muusikko ja äänitaiteilija, joka on tehnyt musiikkia yli 20 vuoden ajan. Hän on säveltänyt muun muassa lyhytelokuviin ja animaatioihin sekä soittanut ja laulanut useissa eri kokoonpanoissa. Hänen työssään ääni toimii sekä tilallisena että kerronnallisena elementtinä.
					</p>
                    <br>
                    <p>
                        is a musician and sound artist who has been creating music for over twenty years. He has composed music for short films and animations, and has performed as a musician and vocalist in numerous ensembles. In his work, sound functions both as a spatial and a narrative element.
                    </p>
					<br>
			</section>
		<h1 id="title" class="font-extralight">Kiitokset / Acknowledgments</h1>
		<br>
        <article>
			<ul>
				<li><b>Viljo Leppä</b></li>
				<li><b>Launo Laatikainen</b></li>
				<li><b>Katariina Mäkelä</b></li>
				<li><b>Liisa Leppä</b></li>
				<li><b>Defne Dinç</b></li>
				<li><b>Jaakko Vastapuu</b></li>
				<li><b>Hannes Hietarinta</b></li>
				<li><b>Suvi Vihervuori</b></li>
                <li><b>Sam Sjöberg</b></li>
                <li><b>Taneli Leppä</b></li>
			</ul>
		</article>
		<br>
        <nav>
            <ul>
                <li><u><h1 id="takaisin" class="font-extralight"><a href="/antennaroots">Takaisin / Back</a></h1></u></li>         
            </ul>
        </nav>	
	</div>
  </body>
  
</html>
</Layout>

<style define:vars={{ imgScale }}>

	body {
		margin: 0px;
		padding: 0em;
		background-color: black;
		min-height: 100vh;
        color: white;
		overflow: auto;
	}

    .main-content {
        max-width: 100vh;
        height: auto;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        overflow: auto;

    }

	article {
		display: flex;
		justify-content: left;
	}

    .image-container {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-top: 10vh;
    }

    h1 {
		line-height: normal;
		text-align: left;
		font-family: 'Hepta Slab Variable', serif;	
        font-size: 2rem;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
	}

	h2 {
		font-family: 'Hepta Slab Variable', serif;	
		text-align: center;
	}


    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        overflow: hidden;
        width: 100%;
        position:relative;
        bottom: 0;
    }

    nav ul li {
        float:left;
    }

    nav ul li a {
        display: inline;
        text-align: center;
        padding: 14px 32px;
    }

    @media (max-width: 600px) {

        .main-content
        {
            max-width: 100vw;
        }

		h1 {
			font-size: 1.8rem;
            padding-top: 2px;
            padding-bottom: 2px;
		}

        nav ul {    
        list-style-type: none;
        display: block;
        padding: 0;
        overflow: hidden;
        }

        nav ul li {
        float:none;
        }

        nav ul li a {
        display: block;
        text-align: center;
        padding: 5px 5px;
        }
	}
	
</style>

