---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/notable';
import '@fontsource-variable/hepta-slab';
let imgScale = 1;
---

<Layout title="Antenna Roots">
	<!doctype html>
	<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Antenna Roots" />
    <title>Image Gallery</title>
  </head>
  <body>
    <div class="main-content">
		<h1 id="title" class="font-extralight">Antenna Roots: puhuva maa</h1>
		<article>
        <p>
		Juuret toimivat usein vertauskuvana alkuperälle, maalle, vakaudelle. Antenna Rootsissa käännämme tuon kuvan toisinpäin. Kysymme: entä jos juurilla ei vain kytkeydytä ja kiinnitytä maaperään - entä jos ne toimivat eräänlaisina “kaksisuuntaisina antenneina” - sekä herkkinä vastaanottimina, jotka luotaavat maan uumenia että saamiensa signaalien välittäjinä?	
		</p>
		<p>
			Luonto on mahdollista ymmärtää toisin: ei pelkkänä passiivisena taustana, maisemana tai kasvualustana, vaan myös aktiivisena, elävänä kommunikaatioverkkona. Sitä ihminen yrittää toisinaan ymmärtää, vaikkakin vain omista antroposeenisista lähtökohdistaan käsin - ja siksi usein aivan liian karkeasti ja kärsimättömästi.
		</p>
		<br>
		<p>
			Biologit ovat tienneet tämän jo kauan: puiden juuret muodostavat valtavia monihaaraisia verkostoja, jotka siirtävät ravinteita, kemiallisia signaaleja, jopa varoituksia vaaraan joutuneiden yksilöiden välillä.
		</p>
		<p>
			Biologia antaa omat selityksensä, mutta juurten monimutkainen yhteydenpito houkuttaa kuvittelemaan pidemmälle. Vertauskuvallisesti niiden signaalit ovat kuin maanalainen, ihmisille käsittämättömäksi jäänyt kieli, täynnä tuntemattomia sanoja ja outoja määreitä.
		</p>
		<p>
			Antenna Rootsissa tarkastelemme tätä kieltä visuaalisesti ja äänellisesti, jopa myyttisesti. Miten puu ikään kuin kuuntelee - miten sen juuret, runko ja oksat sopeutuvat maaperän muutoksiin, miten ne vastaavat menneiden aikakausien sedimentteihin ja tulevaisuuden häiriötekijöihin. 
		</p>
		<p>
			Sillä puiden ensisijainen tehtävä ei ole järjestää maailmaa, vaan reagoida siihen.
		</p>
		<br>
		<p>
			Tämä kaikki liittyy kiinteästi siihen, miten tiede on yrittänyt ymmärtää luonnon aikaansaamia muotoja. Kaaosteorian mukaan niiden järjestäytyminen ei ole lineaarista eikä helposti ennustettavaa.
		</p>
		<p>
			Pohjimmiltaan oksisto ja juuret noudattavat fraktaalista geometriaa haarautuessaan aina uudelleen pienempiin identtisiin versioihinsa. On vieläpä niin, että sekä oksat että juuret tuottavat hyvin samantapaisen rakenteen - ikään kuin kyse olisi maanpäällisestä ja maanalisesta maailmasta, jonkinlaisesta painovoiman käännöksestä, ylösalaisin keikahduksesta.
		</p>
		<p>
			As above so below, kuten vanha esoteerinen lause muistuttaa.
		</p>
		<p>
			Mutta puu on myös voimakas kaaoksen symboli, sillä pienikin muutos valossa muuttaa kasvun suuntaa. Pienikin törmäys kiven reunaan kääntää juuren ja kenties samalla koko latvuksen. Ympärillä puhaltava tuuli, ilman kosteus, mikro-organismit, muut kasvit – jokainen niistä lähettää oman signaalinsa, johon puu vastaa. 
		</p>
		<p>
			Viime kädessä kyse on hengissä pysymisestä, selviämisestä. 
		</p>
		<p>
			Ja tässä mielessä koko elämästä.
		</p>
		<br>
		<br>
		<p>
			On hyvä muistaa se, ettei luonto tosiasiassa vastusta ihmistä tai ”kapinoi” tätä vastaan. Ihminenhän on itsekin yksi epävakaa osa muiden joukossa.
		</p>
		<p>
			Tästä huolimatta ihminen on suhtautunut luontoon kuin kokonaisuuteen, joka täytyy kartoittaa, mitata ja järjestää. Kaasuun, veteen, ekosysteemeihin, eläimiin ja kasveihin on sovellettu tismalleen samaa logiikkaa: päämäärä on hallita, hillitä, optimoida ja ennakoida.
		</p>
		<p>
			Mutta mitä tapahtuu, kun hallinta yritetään viedä järjestelmään, joka perustuu dynaamiseen epävakauteen ja jatkuvaan reagointiin? 
		</p>
		<p>
			Kun ihminen tukahduttaa signaalin väkivalloin, luonto lähettää sen takaisin uudessa muodossa: tulvina, kuivuutena, häiriintyneinä ravinteiden kiertoina ja ekosysteemien äkillisinä muutoksina. Ihmisen näkökulmasta ne näyttävät luonnon mullistuksilta ja tuhovoimilta, kun taas järjestelmälle kyse on vain fraktaalisen verkoston tavasta organisoitua uudelleen.
		</p>
		<p>
			Siksi juuretkin ovat paitsi antenneja myös rajapintoja: paikkoja, joissa informaatio kulkee, mutta joissa myös vääristymät, viiveet ja häiriöt syntyvät - joissa kohiseva kaaos saa fyysisen muodon.
		</p>
		<br>
		<p>
			Näyttelyyn liittyy myyttinen taso, joka ei ole oikea historiallinen mytologia, vaan moderni tarusto, joka on saanut vaikutteita vanhoista eepoksista.
		</p>
		<p>
			Myytin keskiössä kasvaa Kaaospuu, maailmanpuun kaltaisen olennon kehollistuma. Sen vartijana toimii Sylva Ananke, ”Metsän Välttämättömyys”, jonka punaiset hiukset ovat juuria ja  kruunu rakennettu risuista ja toisiinsa lomittuvista oksista. Jumalattaren kasvot muuttuvat joka kerta, kun ihminen uskoo nähneensä ja tunnistaneensa ne. 
		</p>
		<p>
			Myytin tehtävä ei ole selittää biologiaa, vaan tarjota ihmiselle symbolinen kartta. Siinä juuret edustavat muistoja, historiaa ja syviä ekologisia kytköksiä. Antennit puolestaan kuvastavat kosketusta, samaistumista, tulevaisuuden ennakointia. Fraktaalikuvio, jota Kaaospuun juuret ja oksat noudattavat, paljastaa olemassaolon monimutkaisuuden, näennäisen, matemaattisen kaaoksen. Ja Sylva Ananke symboloi sitä, mikä ei taivu hallittavaksi.
		</p>
		<p>
			Näyttely ei pyri konkretisoimaan jumalatarhahmoa, vaan antaa sen viipyillä teosten taustalla – kuin hiljaisesti soiva musiikki.
		</p>
		<br>
		<p>
			On syy, miksi Antenna Roots yhdistää niin monia elementtejä: kuvaa, äänitaidetta, matematiikkaa, biologiaa, myyttejä, käsitteitä. Uskomme, että vain siten on mahdollista yrittää lähestyä kieltä, jolla luonto kenties kommunikoi.
		</p>
		<p>
			Kysymys on geopoeettinen:  Miten virittäydymme? Miten opimme kuuntelemaan sitä viestiä, jota maa on lähettänyt miljoonia vuosia? Miten ymmärrämme, että jokainen juuren liike on vastaus johonkin, jota emme vielä näe?
		</p>
		<p>
			Mutta tämä on varmaa: ihminen ei ole mikään maailman antenni, vaan vain yksi sen signaaleista.
		</p>
		<p>
			Ja kenties todellinen yhteys luontoon voi syntyä vasta silloin, kun herkeämme huutamasta omaa ääntämme ja pysähdymme kuuntelemaan hiljaista, fraktaalista laulua maaperän syvyyksistä.
		</p>
		<br>
		</article>
        <nav>
            <ul>
                <li><u><h1 id="takaisin" class="font-extralight"><a href="/antennaroots">Takaisin</a></h1></u></li>         
            </ul>
        </nav>	
	</div>
  </body>
  
</html>
</Layout>

<style define:vars={{ imgScale }}>

	body {
		margin: 0px;
		padding: 0em;
		background-color: black;
        color: white;
		overflow: auto;
	}

    .main-content {
        max-width: 100vh;
        height: auto;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        overflow: auto;

    }

    .image-container {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-top: 10vh;
    }

    h1 {
		line-height: normal;
		text-align: center;
		font-family: 'Hepta Slab Variable', serif;	
        font-size: 2rem;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
	}

	h2 {
		font-family: 'Hepta Slab Variable', serif;	
		text-align: center;
	}


    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        overflow: hidden;
        width: 100%;
        position:relative;
        bottom: 0;
    }

    nav ul li {
        float:left;
    }

    nav ul li a {
        display: inline;
        text-align: center;
        padding: 14px 32px;
    }

    @media (max-width: 600px) {

        .main-content
        {
            max-width: 100vw;
        }

		h1 {
			font-size: 1.8rem;
            padding-top: 2px;
            padding-bottom: 2px;
		}

        nav ul {    
        list-style-type: none;
        display: block;
        padding: 0;
        overflow: hidden;
        }

        nav ul li {
        float:none;
        }

        nav ul li a {
        display: block;
        text-align: center;
        padding: 5px 5px;
        }
	}
	
</style>

