---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/notable';
import '@fontsource-variable/hepta-slab';
let imgScale = 1;
import { Image } from 'astro:assets';



---

<Layout title="Antenna Roots">
	<!doctype html>
	<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Antenna Roots" />
    <title>Image Gallery</title>
  </head>
  <body>
    <div class="main-content">
		<h1 id="title" class="font-extralight">Antenna Roots</h1>
        <div class="image-container">
            <Image src='https://media.tyhjyydenvalu.com/kuva.webp'alt="Photo n.1" layout='constrained' width={2215} height={1477} decoding='async' loading="eager" id="img01" class="img"></Image>
        </div>
		<div class="controlbutton">
			<svg fill="#ffffff" height="50px" width="50px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
viewBox="0 0 60 60" xml:space="preserve">
<g id="playbutton">
<path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"/>
<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/>
</g>
<g id="pausebutton">
<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/>
<path d="M33,46h8V14h-8V46z M35,16h4v28h-4V16z"/>
<path d="M19,46h8V14h-8V46z M21,16h4v28h-4V16z"/>
</g>
		</svg>
		</div>
		
        <nav>
            <ul>
                <li><u><h1 id="essee" class="font-extralight"><a href="/antennaessee">Essee/Essay</a></h1></u></li>
                <li><u><h1 id="kiitokset" class="font-extralight"><a href="/antennarootskiitokset">Tekijät/About</a></h1></u></li>
                <li><u><h1 id="takaisin" class="font-extralight"><a href="/">Alkuun/Start</a></h1></u></li>         
            </ul>
        </nav>	
	</div>
        
    </div>
  </body>
  
</html>
</Layout>

<style define:vars={{ imgScale }}>

	body {
		margin: 0px;
		padding: 0em;
		background-color: black;
        color: white;
		overflow: hidden;
		min-height: 100svh;
        max-height: 100vh;
	}

    .main-content {
        max-width: 100vh;
        height: 100vh;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        overflow: hidden;
    }

    .image-container {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-top: 10vh;
    }

    h1 {
		line-height: normal;
		text-align: center;
		font-family: 'Hepta Slab Variable', serif;	
        font-size: 2rem;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
	}

	h2 {
		font-family: 'Hepta Slab Variable', serif;	
		text-align: center;
	}

	.controlbutton
	{
		display: flex;
		justify-content: center;
	}

	#pausebutton
	{
		opacity: 25%;
	}

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    nav ul li {
        float:left;
    }

	nav ul li h1
	{
		font-size: 1.6rem;
	}

    nav ul li a {
        display: inline;
        text-align: center;
        padding: 14px 32px;
    }

    @media (max-width: 600px) {

        .main-content
        {
            max-width: 100vw;
        }

		h1 {
			font-size: 1.8rem;
            padding-top: 2px;
            padding-bottom: 2px;
		}

        nav ul {    
        list-style-type: none;
        display: block;
        padding: 0;
        overflow: hidden;
        }

        nav ul li {
        float:none;
        }

        nav ul li a {
        display: block;
        text-align: center;
        padding: 5px 5px;
        }
	}
</style>

<script>
	const audio = document.createElement('audio'); audio.id = "audio";
	audio.src = 'https://media.tyhjyydenvalu.com/Antenna%20Roots%20MASTER%20MP3%201H%20LOOP.mp3';
	const audioButton = document.getElementById("Capa_1");
	const pauseButton = document.getElementById("pausebutton");
	const playButton = document.getElementById("playbutton");
	//audio.play();
	playButton.style.visibility = "visible";
	pauseButton.style.visibility = "hidden";
	
	audioButton.addEventListener('click', () => {
		console.log("playing...");
		togglePause();
	});
	
	function togglePause() {
		if (audio.paused) {
			audio.play();
			playButton.style.visibility = "hidden";
			pauseButton.style.visibility = "visible";
		}
		else {
			audio.pause();
			playButton.style.visibility = "visible";
			pauseButton.style.visibility = "hidden";
		}
	}

	function pauseStop() {
		fadeVolOut(1);	
	}


	function fadeVolIn(newPercent){
		console.log("fading in!")
		if(newPercent < 1){
		audio.volume = newPercent;
		setTimeout(fadeVolIn,2, newPercent+0.001);
		}
		else{
			audio.volume = 1;
		}
	}
	function fadeVolOut(newPercent){
		console.log("fading out!")
		if(newPercent > 0){
		audio.volume = newPercent;
		setTimeout(fadeVolOut,2, newPercent-0.001);
		}
		else{
			audio.volume = 0;
		}
	}
	
</script>

