---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/notable';
import '@fontsource-variable/hepta-slab';
let imgScale = 1;
---

<Layout title="Tyhjyyden Valu & Antenna Roots">
	<!doctype html>
	<html lang="en">
 	 	<head>
    		<title>Tyhjyyden Valu & Antenna Roots</title>
 	 	</head>
 	 <body>
		<main>
			<section>
				<div class="essaybox">
					<br>
					<br>
					<h1>
						<p><u><h1 id="Tyhjyyden Valu" class="font-extralight"><a href="/tyhjyydenvalu">Tyhjyyden Valu</a></h1></u></p>
					</h1>
					<h1>
						<p><h1 id="&" class="font-extralight">&</h1></p>
					</h1>
					<h1>
						<p><u><h1 id="Antenna Roots" class="font-extralight"><a href="/antennaroots">Antenna Roots</a></h1></u></p>
					</h1>
			</section>
			<div id="footer" class="flex">
			<u><h1 id="title2" class="font-extralight"><a href="/tekijat">Tekijät</a></h1></u>
			</div>	
		</main>
		<hr>
  	</body>
	</html>
</Layout>

<style define:vars={{ imgScale }}>

	body {
		display: flex;
		flex-direction: column;
		margin: 0px;
		padding: 0em;
		background-color: white;
		/*overflow: hidden;*/
		/*min-height: 100svh;*/
	}
	
	h1 {
		line-height: normal;
		color: black;	
		text-align: center;
		font-family: 'Hepta Slab Variable', serif;	
		margin-bottom: 20px;
		margin-top: 10px;
	}

	h2 {
		font-family: 'Hepta Slab Variable', serif;	
		text-align: center;
	}

	.essaybox
	{
		overflow: visible;
		max-width: 60%;
		width: 60%;
		margin: auto;
	}

	#footer {
		position:fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		padding-top: 1%;
		z-index: 999;
	}

    .gallery_img {
        max-width: 100%;
		width: 80%;
		display: block;
		transform-origin: top;
		transition: all 5s ease-in-out;
		margin: auto;
		cursor: pointer;
		opacity: 0.5;
		
    }
    
	.swiper {
	    overflow: visible;
	}


    #buttonsandbars {
		display: flex;
        margin:auto;
        flex-direction: row;
        justify-content: center;
		gap: 3px;
		margin-top: 150px;
    }

	#imgcontainer{
		width: 100%;
		max-width: 50vh;
        margin: auto;
		transition: all 5s ease-in-out;
		flex-direction: column;
		padding-left: 1rem;
		padding-right: 1rem;
		
	}

	#imgandbutton{
		
		display: block;
		width: 100%;
		max-width: 100%;
		margin:auto;
		transition: all 5s ease-in-out;
	}
	
	.swiper-button-prev {
		color: black;
	}
	.swiper-button-next {
		color: black;
	}

	.swiper-slide
	{
		transition: all 1s;
		margin-left: auto;
		margin-right: auto;
		
  
	}

    #image_swiper
    {
        margin-left: auto;
        margin-right: auto;
		/*width: 50%;*/
        
    }


	#playbutton{
		visibility: visible;
	}
	
	#pausebutton{
		visibility: hidden;
	}

	.controlbutton{
		display: inline-block;
		opacity: 0.5;
		cursor:pointer;
		transition: opacity 0.5s ease-in-out;
	}

	.controlbutton:hover {
		opacity: 1;
	}

	.controlbutton:active {
		opacity: 1;
	}

	h1{
		font-size: 1.2rem;
	}

	@media (min-width: 992px) {
		h1 {
			font-size: 2rem;
		}
	}

	@media (max-width: 991px) {
		h1 {
			font-size: 2.2rem;
		}
	}

</style>




	
</script>

