---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/notable';
import '@fontsource-variable/hepta-slab';
let imgScale = 1;

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import { Image } from 'astro:assets';



---

<Layout title="Tyhjyyden Valu">
	<!doctype html>
	<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Tyhjyyden Valu" />
    <title>Image Gallery</title>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
		<br>
		<h1 id="title" class="font-extralight">Tyhjyyden valu - Casting for Emptiness</h1>
		<br>
      <div class="swiper">
        <div class="swiper-wrapper">
			<!-- Slides -->
			<div data-hash="slide01" class="swiper-slide">
				<!--<img src='https://i.ibb.co/grBV0qY/Sementin-leiju.webp' alt="Photo n.1" id="img01" class="gallery_img">-->
				<Image src='https://i.ibb.co/grBV0qY/Sementin-leiju.webp'alt="Photo n.1" width={1620} height={1080} decoding='async' loading="eager" id="img01" class="gallery_img"></Image>
			</div>
			<div data-hash="slide02" class="swiper-slide">
				<!-- <img src='https://i.ibb.co/dw8zddrx/Inhimillisyyskatoaa.webp' alt="Photo n.2" id="img02" class="gallery_img">-->
				<Image src='https://i.ibb.co/dw8zddrx/Inhimillisyyskatoaa.webp'alt="Photo n.2" width={1555} height={1037} decoding='async' loading="eager" id="img02" class="gallery_img"></Image>
			</div>
			<div data-hash="slide03" class="swiper-slide">                        
				<!--<img src='https://i.ibb.co/tKBvfSc/Kammio.webp' alt="Photo n.3" id="img03" class="gallery_img">-->
				<Image src='https://i.ibb.co/tKBvfSc/Kammio.webp'alt="Photo n.3" width={1579} height={1053} decoding='async' loading="eager" id="img03" class="gallery_img"></Image>
			</div>
			<div data-hash="slide04" class="swiper-slide">
				<!--<img src='https://i.ibb.co/TkZY0JT/Ulosp-syyn-vie-tie-2.webp' alt="Photo n.4" id="img04" class="gallery_img">-->
				<Image src='https://i.ibb.co/TkZY0JT/Ulosp-syyn-vie-tie-2.webp'alt="Photo n.4" width={1555} height={985} decoding='async' loading="eager" id="img04" class="gallery_img"></Image>
			</div>
			<div data-hash="slide05" class="swiper-slide">
				<!--<img src='https://i.ibb.co/N91Xy2j/Muistitko-edes-valon.webp' alt="Photo n.5" id="img05" class="gallery_img">-->
				<Image src='https://i.ibb.co/N91Xy2j/Muistitko-edes-valon.webp'alt="Photo n.5" width={1080} height={1620} decoding='async' loading="eager" id="img05" class="gallery_img"></Image>
			</div>
			<div data-hash="slide06" class="swiper-slide">
				<!--<img src='https://i.ibb.co/FhqDw5d/Ja-y-oli-hiljainen-ja-ter-v.webp' alt="Photo n.6" id="img06" class="gallery_img">-->
				<Image src='https://i.ibb.co/FhqDw5d/Ja-y-oli-hiljainen-ja-ter-v.webp'alt="Photo n.6" width={1620} height={1080} decoding='async' loading="eager" id="img06" class="gallery_img"></Image>
			</div>
			<div data-hash="slide07" class="swiper-slide">
				<!--<img src='https://i.ibb.co/RP93J2F/Kulutettu-loppuun-2.webp' alt="Photo n.7" id="img07" class="gallery_img">-->
				<Image src='https://i.ibb.co/RP93J2F/Kulutettu-loppuun-2.webp'alt="Photo n.6" width={1435} height={1076} decoding='async' loading="eager" id="img07" class="gallery_img"></Image>
			</div>
			<div data-hash="slide08" class="swiper-slide">
				<!--<img src='https://i.ibb.co/PrCNTWz/L-mmin-valo-kaikessa-t-ss-kylm-ss.webp' alt="Photo n.8" id="img08" class="gallery_img">-->
				<Image src='https://i.ibb.co/PrCNTWz/L-mmin-valo-kaikessa-t-ss-kylm-ss.webp'alt="Photo n.8" width={1544} height={1029} decoding='async' loading="eager" id="img08" class="gallery_img"></Image>
			</div>
			<div data-hash="slide09" class="swiper-slide">
				<!--<img src='https://i.ibb.co/KhFXGwZ/Kipua-n-m-2.webp' alt="Photo n.9" id="img09" class="gallery_img">-->
				<Image src='https://i.ibb.co/KhFXGwZ/Kipua-n-m-2.webp'alt="Photo n.9" width={1260} height={1680} decoding='async' loading="eager" id="img09" class="gallery_img"></Image>
			</div>
			<div data-hash="slide10" class="swiper-slide">
				<!--<img src='https://i.ibb.co/vzbh5hZ/Sokkelon-ydin-pieni.webp' alt="Photo n.8" id="img10" class="gallery_img">-->
				<Image src='https://i.ibb.co/vzbh5hZ/Sokkelon-ydin-pieni.webp'alt="Photo n.10" width={1260} height={1680} decoding='async' loading="eager" id="img10" class="gallery_img"></Image>
			</div>
		</div>	
        <!-- Add navigation buttons -->
        <div class="swiper-button-next" id="arrow1"></div>
        <div class="swiper-button-prev" id="arrow2"></div>
		<div class="swiper-pagination" id="pagi"></div>
      </div>
	  <div id="buttonsandbars" class="flex">
				
		<svg class="controlbutton" fill="#000000" height="50px" width="50px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
viewBox="0 0 60 60" xml:space="preserve">
<g id="playbutton">
<path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"/>
<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/>
</g>
<g id="pausebutton">
<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/>
<path d="M33,46h8V14h-8V46z M35,16h4v28h-4V16z"/>
<path d="M19,46h8V14h-8V46z M21,16h4v28h-4V16z"/>
</g>
		</svg>
		<div id="animation" class="bg-black">
			<div class="now playing" id="music">
				<span class="bar n1">A</span>
				<span class="bar n2">B</span>
				<span class="bar n3">c</span>
				<span class="bar n4">D</span>
				<span class="bar n5">E</span>
			</div>
		</div>
	</div>	
    </div>
  </body>
  <div id="footer" class="flex">
	<u><h1 id="essee" class="font-extralight"><a href="/essee">Essee</a></h1></u>
	<u><h1 id="kiitokset" class="font-extralight"><a href="/tyhjyyskiitokset">Tekijät & Kiitokset</a></h1></u>
	<u><h1 id="takaisin" class="font-extralight"><a href="/">Alkuun</a></h1></u>
</div>	
</html>
</Layout>

<style define:vars={{ imgScale }}>

	body {
		/*display: flex;*/
		/*flex-direction: column;*/
		margin: 0px;
		padding: 0em;
		background-color: white;
		overflow: hidden;
		min-height: 100svh;
	}
	
	h1 {
		line-height: normal;
		color: black;	
		text-align: center;
		font-family: 'Hepta Slab Variable', serif;	
		margin-bottom: 5px;
		margin-top: 5px;
	}

	h2 {
		font-family: 'Hepta Slab Variable', serif;	
		text-align: center;
	}
	.animation
	{
		position: relative;
	}

	
	

	#footer {
		position:fixed;
		margin: auto;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		text-align: center;
		gap: 0vw;
		padding-top: 1%;
		z-index: 10;
		flex-wrap: wrap;		
	}


    .gallery_img {
		width: 100%;
      	height: 100%;
		transform: scale(0.8);
		display: block;
		margin: auto;
		transition: all 10s ease-in-out;
		cursor: pointer;
		opacity: 0.5;
		object-fit: scale-down;
		
    }
    
	
	.swiper {
	    width: 99%;
  		height: 60vh;
		display: flex;
		padding-bottom: 1px;

	}

	.swiper-slide
	{
		
	}

	.swiper-pagination{
		
	}


    #buttonsandbars {
		gap: 3px;
		margin-top: 3px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
    }
	
	.swiper-button-prev {
		color: black;
	}
	.swiper-button-next {
		color: black;
	}

	.swiper-slide
	{
		transition: all 1s;  
	}

	#playbutton{
		visibility: visible;
	}
	
	#pausebutton{
		visibility: hidden;
	}

	.controlbutton{
		display: block;
		opacity: 0.5;
		cursor:pointer;
		transition: opacity 0.5s ease-in-out;
	}

	.controlbutton:hover {
		opacity: 1;
	}

	.controlbutton:active {
		opacity: 1;
	}

	h1{
		font-size: 1.2rem;
	}

	@media (min-width: 992px) {
		h1 {
			font-size: 2rem;
		}
	}

.playing {
  position: absolute;
  display: block;
  margin-top: 25px;
}
.now.playing .bar {
  display: inline-block;
  margin-right: 1px;
  width: 2px;
  height: 1px;
  overflow: hidden;
  background: grey;
  color: transparent;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: 0;
 
  
  
}

.paused.playing .bar {
  animation-iteration-count: infinite;
}



.n1 {
  animation-delay: 0.6s;
}
.n2 {
  animation-delay: 0.3s;
}
.n3 {
  animation-delay: 1.4s;
}
.n4 {
  animation-delay: 1.0s;
}
.n5 {
  animation-delay: 2.4s;
}
.n6 {
  animation-delay: 1.4s;
}
.n7 {
  animation-delay: 3.2s;
}
.n8 {
  animation-delay: 2.0s;
}
@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 20px;
    margin-top: -20px;
  }
  50% {
    height: 10px;
    margin-top: -10px;
  }
  60% {
    height: 20px;
    margin-top: -20px;
  }
  80% {
    height: 30px;
    margin-top: -30px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}
</style>

<script>
	import Swiper from 'swiper';
	import { Navigation, Pagination, HashNavigation } from 'swiper/modules';
	
	const swiper = new Swiper('.swiper', {
	//swiper modules
	modules: [Navigation, Pagination, HashNavigation],
	// Optional parameters
	direction: 'horizontal',
	loop: true,
	autoHeight: false,
    speed: 600,
	spaceBetween: 40,
	hashNavigation: {
		watchState: true,
	},

	// If we need pagination
	pagination: {
	  el: '.swiper-pagination',
	  type: 'fraction',
	  clickable: true,
	},
  
	// Navigation arrows
	navigation: {
	  nextEl: '.swiper-button-next',
	  prevEl: '.swiper-button-prev',
	},
  	});

	

	var hasClicked = false;
	const button = document.querySelector("#Capa_1");

	const pauseButton = document.getElementById("pausebutton");
	const playButton = document.getElementById("playbutton");

	const pagi = document.getElementById("pagi")

	const allImages = Array.from(document.getElementsByClassName("gallery_img") as HTMLCollectionOf<HTMLElement>);
	const image1 = document.getElementById("img01");
	const image2 = document.getElementById("img02");
	const image3 = document.getElementById("img03");
	const image4 = document.getElementById("img04");
	const image5 = document.getElementById("img05");
	const image6 = document.getElementById("img06");
	const image7 = document.getElementById("img07");
	const image8 = document.getElementById("img08");
	const image9 = document.getElementById("img09");
	const image10 = document.getElementById("img10");

	const arrow1 = document.getElementById("arrow1");
	const arrow2 = document.getElementById("arrow2");
	

	const audio = document.createElement('audio'); audio.id = "audio";
	audio.src = "https://dl.dropbox.com/scl/fi/29mhuzz9phbi8cf7z4v1s/1-Sementin-leiju-masterv1.flac?rlkey=c96h0gfr71etux3ngvjh0n562&st=l4r8vp8y"

	const audio1 = 'https://media.tyhjyydenvalu.com/1%20Sementin%20leiju%20masterv1.flac';
	const audio2 = 'https://media.tyhjyydenvalu.com/2%20Inhimillisyyskato%20masterv1.flac';
	const audio3 = 'https://media.tyhjyydenvalu.com/3%20Kammio%20masterv1%20(1).flac';
	const audio4 = 'https://media.tyhjyydenvalu.com/4%20Ulosp%C3%A4%C3%A4syyn%20vie%20tie%20masterv1.flac';
	const audio5 = 'https://media.tyhjyydenvalu.com/5%20Muistitko%20edes%20valon%20masterv1.flac';
	const audio6 = 'https://media.tyhjyydenvalu.com/6%20Ja%20y%C3%B6%20oli%20hiljainen%20ja%20ter%C3%A4v%C3%A4%20masterv1.flac';
	const audio7 = 'https://media.tyhjyydenvalu.com/7%20Kulutettu%20loppuun%20masterv1.flac';
	const audio8 = 'https://media.tyhjyydenvalu.com/8%20L%C3%A4mmin%20valo%20masterv1.flac';
	const audio9 = 'https://media.tyhjyydenvalu.com/9%20Kipua%20n%C3%A4m%C3%A4%20masterv1.flac';
	const audio10 ='https://media.tyhjyydenvalu.com/10%20Sokkelon%20ydin%20masterv1.flac';
	

	//var audio = new Audio(optimizeUrl
	//audiosus.volume = 0;
	//var audio = new Audio('https://res.cloudinary.com/demo/video/upload/dog.mp3')

	var player = document.getElementById("music");
	
	
	//img1Obj.style.opacity = "0.5";


	function imageUp() {
		
		let selector = swiper.realIndex;
		switch(selector)
		{
			case 0:
				audio.src = audio1;
				break;
			
			case 1:
				audio.src = audio2;
				break;
			case 2:
				audio.src = audio3;
				break;
			
			case 3:
				audio.src = audio4;
				break;

			case 4:
				audio.src = audio5;
				break;
			
			case 5:
				audio.src = audio6;
				break;
			case 6:
				audio.src = audio7;
				break;
			
			case 7:
				audio.src = audio8;
				break;
			
			case 8:
				audio.src = audio9;
				break;
			
			case 9:
				audio.src = audio10;
				break;

			default:
				audio.src = audio1;
				break;	
		}
			
		
		togglePause();
		audio.volume = 0;
		fadeVolIn(0);
		for (let i = 0; i < allImages.length; i++) 
		{
  			allImages[i].style.transform = "scale(1.0)"
			allImages[i].style.opacity = "1"
		}
		pagi.style.visibility = "hidden";
		pauseButton.style.visibility = "visible";
		playButton.style.visibility = "hidden";
		arrow1.style.visibility = "hidden"
		arrow2.style.visibility = "hidden"
		console.log(audio.paused);
		player.style.visibility = "visible";
		player.classList.add("paused")
		//player.classList.toggle("paused");

	}

	function imageDown() {
		audio.volume = 1;
		fadeVolOut(1);
		hasClicked = false;
		for (let i = 0; i < allImages.length; i++) 
		{
  			allImages[i].style.transform = "scale(0.8)"
			allImages[i].style.opacity = "0.5"
		}
		pagi.style.visibility = "visible";
		pauseButton.style.visibility = "hidden";
		playButton.style.visibility = "visible";
		arrow1.style.visibility = "visible"
		arrow2.style.visibility = "visible"
		console.log(audio.paused);
		player.classList.remove("paused");
		//player.classList.toggle("paused");

	}

	function togglePause() {
		if (audio.paused) {
			audio.play();
			audio.onended = function(){
				pauseStop();
			}
		}
		else {
			audio.pause();
		}
	}

	function pauseStop() {
		fadeVolOut(1);
		for (let i = 0; i < allImages.length; i++) 
		{
  			allImages[i].style.transform = "scale(0.8)"
			allImages[i].style.opacity = "0.5"
		}
		pauseButton.style.visibility = "hidden";
		playButton.style.visibility = "visible";
		console.log(audio.paused);
		
		player.classList.remove("paused");
	}

	function changeSong() {
		if (!audio.paused)
	{
		audio.pause();
	}
	pauseButton.style.visibility = "hidden";
	playButton.style.visibility = "visible";
	let selector = swiper.realIndex;
		switch(selector)
		{
			case 0:
				audio.src = audio1;
				break;
			
			case 1:
				audio.src = audio2;
				break;
			case 2:
				audio.src = audio3;
				break;
			
			case 3:
				audio.src = audio4;
				break;

			case 4:
				audio.src = audio5;
				break;
			
			case 5:
				audio.src = audio6;
				break;
			case 6:
				audio.src = audio7;
				break;
			
			case 7:
				audio.src = audio8;
				break;
			
			case 8:
				audio.src = audio9;
				break;
			
			case 9:
				audio.src = audio10;
				break;

			default:
				audio.src = audio1;
				break;	
		}
		if (hasClicked)
		{
			imageUp();
		}
		
		
	}

	function fadeVolIn(newPercent){
		console.log("fading in!")
		if(newPercent < 1){
		audio.volume = newPercent;
		setTimeout(fadeVolIn,2, newPercent+0.001);
		}
		else{
			audio.volume = 1;
		}
	}
	function fadeVolOut(newPercent){
		console.log("fading out!")
		if(newPercent > 0){
		audio.volume = newPercent;
		setTimeout(fadeVolOut,2, newPercent-0.001);
		}
		else{
			audio.volume = 0;
		}
	}

	

	/*
	function volumeUp() {
		if (audio.volume < 0.9) {
			audio.volume += 0.1;
			setTimeout(volumeUp,100);
		} else {
			audio.volume = 1;
		}
		}
	
	function volumeDown() {
		if (audio.volume > 0.1) {
			audio.volume -= 0.1;
			setTimeout(volumeDown,100);
		} 
		else{
			audio.volume = 0;
			togglePause();
		}	
	}
	*/


    image1.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image2.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image3.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image4.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image5.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image6.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image7.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image8.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image9.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	image10.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	
    button.addEventListener('click', () => {
		console.log("it works");
		hasClicked = true;
		if (document.getElementById("pausebutton").style.visibility == "visible") {
			imageDown();
		} else {
			imageUp();
		}
	
	});
	
	window.onhashchange = changeSong;
	
	
</script>

